Repository USSBA/sba-gov-yumi: changes, and which CircleCI parameters are due for each by the changed paths.
All: deploy-agency-scorecards, deploy-equity-scorecards, deploy-franchise-directory

Update for 2023
  agency-scorecards/js/loader.js
Due: deploy-agency-scorecards

revert some changes
  .gitignore
  agency-scorecards/index.html
  agency-scorecards/js/loader.js
  franchise-directory/data/franchise-directory-21-09-30.xlsx
Due: deploy-agency-scorecards, deploy-franchise-directory

change year, revert an index change
  .gitignore
  agency-scorecards/index.html
  agency-scorecards/js/loader.js
Due: deploy-agency-scorecards

Add files via upload
  franchise-directory/data/franchise-directory-21-09-30.xlsx
Due: deploy-franchise-directory

Update index.html
  agency-scorecards/index.html
Due: deploy-agency-scorecards

Swap SDB for WOSB in charts and tables
  agency-scorecards/index.html
  agency-scorecards/js/charter.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

change hard-coded text
  .gitignore
  agency-scorecards/index.html
  agency-scorecards/js/hydrator.js
  agency-scorecards/js/loader.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

2023 data update
  agency-scorecards/data/2023.csv
  agency-scorecards/data/2023.json
Due: deploy-agency-scorecards

update 2023 data on 2024-04-05
  agency-scorecards/data/2023.csv
  agency-scorecards/data/2023.json
Due: deploy-agency-scorecards

update footnotes and comments
  agency-scorecards/data/2023.csv
  agency-scorecards/data/2023.json
Due: deploy-agency-scorecards

Update json
  agency-scorecards/data/2023.json
Due: deploy-agency-scorecards

Render fiscal year, prime footnotes and subfootnotes from json
  agency-scorecards/index.html
  agency-scorecards/js/hydrator.js
  agency-scorecards/js/loader.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Add footnote-2 fields to 2023 JSON
  agency-scorecards/data/2023.json
Due: deploy-agency-scorecards

Combine the footnotes--but need to convert to HTML
  agency-scorecards/data/2023.csv
  agency-scorecards/data/2023.json
Due: deploy-agency-scorecards

Undo changes
  agency-scorecards/js/hydrator.js
Due: deploy-agency-scorecards

Undo more changes
  agency-scorecards/js/loader.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Update query params to 2023
  agency-scorecards/js/hydrator.js
Due: deploy-agency-scorecards

Remove hardcoded footnotes
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Use innerHTML for footnotes
  agency-scorecards/js/hydrator.js
Due: deploy-agency-scorecards

Type year in index page
  agency-scorecards/index.html
Due: deploy-agency-scorecards

Include SSA comment
  agency-scorecards/data/2023.csv
  agency-scorecards/data/2023.json
Due: deploy-agency-scorecards

Update dataurl variable
  agency-scorecards/js/loader.js
Due: deploy-agency-scorecards

Add files via upload
  disaggregated-federal-contracting-data/data/fy2023_data_aggregation.json
Due: none

new json file
  disaggregated-federal-contracting-data/data/fy2023_data_aggregation.json
Due: none

title case agencies
  disaggregated-federal-contracting-data/data/fy2023_data_aggregation.json
Due: none

Update main.js for 2023
  disaggregated-federal-contracting-data/js/main.js
Due: none

Update index.html for 2023
  disaggregated-federal-contracting-data/index.html
Due: none

Update fetch url variable depending on environment.
  disaggregated-federal-contracting-data/js/main.js
Due: none

Reformat footnotes for FY21 and FY22
  agency-scorecards/data/2021.json
  agency-scorecards/data/2022.json
Due: deploy-agency-scorecards

Fix curly quotes problems
  agency-scorecards/data/2021.json
  agency-scorecards/data/2022.json
Due: deploy-agency-scorecards

fix curly apostrophe
  agency-scorecards/data/2021.json
Due: deploy-agency-scorecards

delete invisible characters
  agency-scorecards/data/2021.json
Due: deploy-agency-scorecards

Path conditions:
  deploy-agency-scorecards: any of: agency-scorecards/.*
  deploy-equity-scorecards: any of: equity-scorecards/.*
  deploy-franchise-directory: any of: franchise-directory/.*
