Repository USSBA/sba-gov-yumi: changes, and which CircleCI parameters are due for each by the changed paths.
All: deploy-agency-scorecards, deploy-equity-scorecards, deploy-franchise-directory

changing data order
  disaggregated-federal-contracting-data/data/fy2021_data_aggregation.json
  disaggregated-federal-contracting-data/js/main.js
Due: none

updating names of demographic groups
  disaggregated-federal-contracting-data/data/fy2021_data_aggregation.json
Due: none

swap url back
  disaggregated-federal-contracting-data/js/main.js
Due: none

Update naics data and change question for average assets
  size-standards/data/naics-11-2022.json
  size-standards/data/naics.json
  size-standards/js/size-standards.js
Due: none

Render 2022 data
  agency-scorecards/data/2022.csv
  agency-scorecards/data/2022.json
  agency-scorecards/index.html
  agency-scorecards/js/loader.js
Due: deploy-agency-scorecards

Dynamically render previous year
  agency-scorecards/js/hydrator.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Update years on footnotes
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Update data on homepage
  agency-scorecards/index.html
Due: deploy-agency-scorecards

Update 2022 data
  agency-scorecards/data/2022.csv
  agency-scorecards/data/2022.json
Due: deploy-agency-scorecards

Update modified 2022 data
  agency-scorecards/data/2022.csv
  agency-scorecards/data/2022.json
  agency-scorecards/index.html
Due: deploy-agency-scorecards

Convert numbers to strings for some data
  agency-scorecards/data/2022.json
Due: deploy-agency-scorecards

Change previous year number
  agency-scorecards/js/charter.js
Due: deploy-agency-scorecards

Update 2022.json
  agency-scorecards/data/2022.json
Due: deploy-agency-scorecards

Fix showing previous fiscal year on chart
  agency-scorecards/js/charter.js
Due: deploy-agency-scorecards

fix rebase
  agency-scorecards/index.html
  agency-scorecards/js/mainPageHydrator.js
Due: deploy-agency-scorecards

Cleanup code
  agency-scorecards/index.html
  agency-scorecards/js/hydrator.js
  agency-scorecards/js/loader.js
Due: deploy-agency-scorecards

Remove main page hydrator file
  agency-scorecards/js/mainPageHydrator.js
Due: deploy-agency-scorecards

Update function names
  agency-scorecards/index.html
  agency-scorecards/js/hydrator.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Add HHS comment to 2022.json
  agency-scorecards/data/2022.json
Due: deploy-agency-scorecards

Fix invalid JSON issue for 2022 data
  agency-scorecards/data/2022.json
Due: deploy-agency-scorecards

Modify variable name
  disaggregated-federal-contracting-data/js/main.js
Due: none

Update data for disaggregated federal contracting data
  disaggregated-federal-contracting-data/data/fy2021_data_aggregation.json
Due: none

Remove not a small business data
  disaggregated-federal-contracting-data/data/fy2021_data_aggregation.json
Due: none

Improve 508 on pie chart
  disaggregated-federal-contracting-data/css/styles.css
  disaggregated-federal-contracting-data/js/main.js
Due: none

Update data for 2022
  agency-scorecards/index.html
  disaggregated-federal-contracting-data/data/fy2022_data_aggregation.json
  disaggregated-federal-contracting-data/index.html
  disaggregated-federal-contracting-data/js/main.js
Due: deploy-agency-scorecards

Restore value for agency scorecard page
  agency-scorecards/index.html
Due: deploy-agency-scorecards

Update 2022 data url location
  agency-scorecards/index.html
  agency-scorecards/js/loader.js
Due: deploy-agency-scorecards

Fix submit button for agency dropdown menu
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

IA-3239: moving the ci/cd from circleci to github actions
  .github/workflows/lower-agency-scorecards.yaml
  .github/workflows/lower-dfcd.yaml
  .github/workflows/lower-size-standards.yaml
  .github/workflows/upper-agency-scorecards.yaml
  .github/workflows/upper-size-standards.yaml
Due: none

Add a 404 page
  agency-scorecards/404.html
Due: deploy-agency-scorecards

IA-3239: remove circleci config, and aws s3 sync in a dryrun mode
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/lower-agency-scorecards.yaml
  .github/workflows/lower-dfcd.yaml
  .github/workflows/lower-size-standards.yaml
  .github/workflows/upper-agency-scorecards.yaml
  .github/workflows/upper-size-standards.yaml
Due: none

Update footnote
  disaggregated-federal-contracting-data/index.html
Due: none

Load data from api.sba.gov
  disaggregated-federal-contracting-data/js/main.js
Due: none

Update favicon
  disaggregated-federal-contracting-data/images/favicon.ico
  disaggregated-federal-contracting-data/images/favicon.png
  disaggregated-federal-contracting-data/index.html
Due: none

Update with 2023 Data and switch SDB/WOSB
  agency-scorecards/data/2023.csv
  agency-scorecards/data/2023.json
  agency-scorecards/index.html
  agency-scorecards/js/charter.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

revert index
  .gitignore
  agency-scorecards/index.html
  agency-scorecards/js/loader.js
  franchise-directory/data/franchise-directory-21-09-30.xlsx
Due: deploy-agency-scorecards, deploy-franchise-directory

Path conditions:
  deploy-agency-scorecards: any of: agency-scorecards/.*
  deploy-equity-scorecards: any of: equity-scorecards/.*
  deploy-franchise-directory: any of: franchise-directory/.*
