Repository USSBA/sba-gov-yumi: changes, and which CircleCI parameters are due for each by the changed paths.
All: deploy-agency-scorecards, deploy-equity-scorecards, deploy-franchise-directory

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # Changes on <path> are determined by doing a git diff between
          # trigging branch/tag and the base-revision below
          base-revision: HEAD^1 # look only at the prior commit

          # Run this workflow only on the main branch
          filters:
            branches:
              only:
                - main

          # When <path> has changes, set <parameter> to <value>
          # <path> <parameter> <value>
          mapping: |
            agency-scorecards/.* deploy-agency-scorecards true
            equity-scorecards/.* deploy-equity-scorecards true
            franchise-directory/.* deploy-franchise-directory true
          # After the parameters under `mapping:` are set,
          # Call this config file below.  That config file must
          # have a parameter defined for each of the params listed
          # as the second field under `mapping:`
          config-path: .circleci/continue_config.yml

Adding files for testing updates
  agency-scorecards/test-a.html
  equity-scorecards/test-e.html
Due: deploy-agency-scorecards, deploy-equity-scorecards

Revert "Adding files for testing updates"
  agency-scorecards/test-a.html
  equity-scorecards/test-e.html
Due: deploy-agency-scorecards, deploy-equity-scorecards

IA-2209: Fix franchise 'over-network' to do a relative reference for loading
  franchise-directory/index-load-datalist-over-network.html
Due: deploy-franchise-directory

Add disaggregated contracting data example to equity scorecards
  equity-scorecards/disaggregated-contracting-data.html
  equity-scorecards/index.html
Due: deploy-equity-scorecards

Add chartsjs and new styles and format to agency scorecard
  agency-scorecards/scorecard.html
  agency-scorecards/styles.css
  agency-scorecards/vendor/chart.js
  agency-scorecards/vendor/chart.min.js
Due: deploy-agency-scorecards

Tweak to POC for agency scorecard from stakeholder feedback
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Finalize naming convention
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Add 2021 data and WIP of loader for use of data
  agency-scorecards/data/2021.json
  agency-scorecards/data/2021.xlsx
  agency-scorecards/loader.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Add basic query string support and temporary selector
  agency-scorecards/data/2021.csv
  agency-scorecards/data/2021.json
  agency-scorecards/data/2021.xlsx
  agency-scorecards/loader.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Add sloppy WIP of query string working fully
  agency-scorecards/loader.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Normalize data and modify data tags to accommodate
  agency-scorecards/data/2021.csv
  agency-scorecards/data/2021.json
  agency-scorecards/loader.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Update data with new format, wire up charts, and add conditional CSS
  agency-scorecards/data/2021.csv
  agency-scorecards/data/2021.json
  agency-scorecards/loader.js
  agency-scorecards/scorecard.html
  agency-scorecards/styles.css
Due: deploy-agency-scorecards

Add function to style scorecard on load
  agency-scorecards/data/2021.json
  agency-scorecards/loader.js
  agency-scorecards/scorecard.html
  agency-scorecards/styles.css
Due: deploy-agency-scorecards

Add instructions to README for Agency Scorecard
  agency-scorecards/README.md
  agency-scorecards/loader.js
Due: deploy-agency-scorecards

Fix issue with regex for styleLetterGrade
  agency-scorecards/loader.js
Due: deploy-agency-scorecards

WIP of refactor into modules
  agency-scorecards/charter.js
  agency-scorecards/hydrator.js
  agency-scorecards/loader.js
  agency-scorecards/loader2.js
  agency-scorecards/scorecard.html
  agency-scorecards/utils.js
Due: deploy-agency-scorecards

WIP of size standards vanilla-ization
  header-footer/header-footer.html
  header-footer/img/ussba-404-moon.png
  header-footer/img/ussba-logo.png
  header-footer/styles.css
  size-standards/README.md
  size-standards/css/styles.css
  size-standards/css/vendor/awesomplete.css
  size-standards/img/size-standards-ruler-business.png
  size-standards/img/ussba-404-moon.png
  size-standards/img/ussba-logo.png
  size-standards/index.html
  size-standards/js/loader.js
  size-standards/js/vendor/awesomplete.js
  size-standards/search.html
  size-standards/search.js
  size-standards/size.html
Due: none

WIP turned into refactor for modules
  size-standards/css/styles.css
  size-standards/css/vendor/awesomplete.css
  size-standards/index2.html
  size-standards/js/loader.js
  size-standards/js/render.js
  size-standards/search.html
  size-standards/search.js
  size-standards/size.html
  size-standards/size.js
  size-standards/standard.html
  size-standards/standard.js
Due: none

Add 3rd iteration WIP as test of approach
  size-standards/css/styles.css
  size-standards/index3.html
  size-standards/js/loader.js
  size-standards/js/naics.js
Due: none

Add logic to support special NAICS
  size-standards/js/naics.js
Due: none

Add JSON data for testing and update naics to prevent CORS issue
  size-standards/data/naics.json
  size-standards/js/naics.js
Due: none

Amend special text
  size-standards/js/naics.js
Due: none

Add support for Query Strings in URL and multiple API end points
  size-standards/css/styles.css
  size-standards/index2.html
  size-standards/index3.html
  size-standards/js/render.js
  size-standards/js/size-standards.js
Due: none

Reorganize MPA solution to separate folder, finalize working SPA solution as WIP
  size-standards/css/styles.css
  size-standards/js/size-standards.js
  size-standards/search.js
  size-standards/solution-mpa/index.html
  size-standards/solution-mpa/js/result.js
  size-standards/solution-mpa/js/search.js
  size-standards/solution-mpa/js/size.js
  size-standards/solution-mpa/js/start.js
  size-standards/solution-mpa/result.html
  size-standards/solution-mpa/search.html
  size-standards/solution-mpa/size.html
Due: none

Add formatting functions and polish off v0.9
  size-standards/css/styles.css
  size-standards/index3.html
  size-standards/js/size-standards.js
Due: none

Add header-footer to scorecard
  agency-scorecards/img/ussba-logo.png
  agency-scorecards/landing.html
  agency-scorecards/scorecard.html
  agency-scorecards/styles.css
Due: deploy-agency-scorecards

Module refactor (unsatisfactory) but complete for agency scorecard
  agency-scorecards/charter.js
  agency-scorecards/hydrator.js
  agency-scorecards/loader.js
  agency-scorecards/scorecard.html
  agency-scorecards/styles.css
Due: deploy-agency-scorecards

Update landing page with real data, scorecard header with real link to sba.gov
  agency-scorecards/landing.html
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Add support for comments to agency scorecard
  agency-scorecards/data/2021.json
  agency-scorecards/data/2021v1.json
  agency-scorecards/hydrator.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Remove bad refactor of loader, update README with example data
  agency-scorecards/README.md
  agency-scorecards/loader2.js
Due: deploy-agency-scorecards

Fix typo in README and update development instruction steps
  agency-scorecards/README.md
Due: deploy-agency-scorecards

Reorganize files to meet webpage standards
  agency-scorecards/README.md
  agency-scorecards/css/scorecard.css
  agency-scorecards/index.html
  agency-scorecards/js/charter.js
  agency-scorecards/js/hydrator.js
  agency-scorecards/js/loader.js
  agency-scorecards/js/vendor/chart.js
  agency-scorecards/js/vendor/chart.min.js
  agency-scorecards/scorecard.html
  agency-scorecards/utils.js
Due: deploy-agency-scorecards

Fix async issue in JS loading
  agency-scorecards/index.html
  agency-scorecards/js/charter.js
  agency-scorecards/js/hydrator.js
  agency-scorecards/scorecard.html
Due: deploy-agency-scorecards

Remove exceptions from autocomplete, display footnotes at results, keep oil barrel question
  size-standards/css/styles.css
  size-standards/js/size-standards.js
Due: none

Remove MPA solution, extra index files, and old module files
  size-standards/index.html
  size-standards/index2.html
  size-standards/index3.html
  size-standards/js/loader.js
  size-standards/js/render.js
  size-standards/solution-mpa/index.html
  size-standards/solution-mpa/js/result.js
  size-standards/solution-mpa/js/search.js
  size-standards/solution-mpa/js/size.js
  size-standards/solution-mpa/js/start.js
  size-standards/solution-mpa/result.html
  size-standards/solution-mpa/search.html
  size-standards/solution-mpa/size.html
Due: none

handle no value in form submission
  size-standards/js/size-standards.js
Due: none

Transition from log to debug in prep for launch
  size-standards/js/size-standards.js
Due: none

WIP of exceptions
  size-standards/js/size-standards.js
Due: none

Fix issue with exceptions always displaying
  size-standards/js/size-standards.js
Due: none

Breakout size determination to separate function determineSizes()
  size-standards/js/size-standards.js
Due: none
